<footer class="site-footer">
  <div class="container footer_grid">
    <div class="col">
      <h6><img src="{{site.logo}}" alt="logo" class="logo"> {{site.title}}</h6>
      <p>{{site.description}}</p>
    </div>
    {%- for c in site.data.footer.top -%}
    <div class="col">
      <h6>{{c.title}}</h6>
      <ul>
        {%- for l in c.items -%}
        <li><a href="{{l.link}}">{{l.name}}</a></li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endfor -%}
  </div>
  <!-- Subscribe form -->
  {%- include subscribe_form.html -%}

  <!-- Footer socials -->
  <div class="footer_socials">
    {%- for s in site.data.footer.social -%}
    <a href="{{s.link}}" target="_blank" class="social">
      <!-- <img src="{{s.icon}}" alt="{{s.title}}"> -->
      {%- include {{s.icon}} -%}
    </a>
    {%- endfor -%}
  </div>
  <div class="footer_bottom container">
    <div class="motto">{{site.motto}}</div>
    <div class="copy">Copyright © {{site.time | date: "%Y"}} {{site.title}}</div>
  </div>
  
</footer>
