.alternative_intro {
  border-bottom: 1px solid #ddd;
  position: relative;
  h1 {
    font-size: 40px;
    padding-top: 64px;
    padding-bottom: 32px;
    line-height: 1.1;
    letter-spacing: -2px;
  }
  h6 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 32px;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8em;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .alternative_intro {
    * {
      max-width: 75%;
    }
    h1 {
      font-size: 64px;
      letter-spacing: -3px;
    }
  }
  .alternative_intro .comparsion h2 {
    font-size: 42px;
  }
}
@media (min-width: 992px) {
  .alternative_intro {
    * {
      max-width: 67%;
    }
  }
  p.description {
    padding-bottom: 104px;
  }
}
.comparsion {
  padding-top: 52px;
  padding-bottom: 104px;
  h2 {
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    line-height: 1em;
  }
  .description {
    font-size: 24px;
    padding-top: 32px;
    padding-bottom: 48px;
  }
  .head {
    font-weight: 700;
    span {
      display: block;
      font-size: 80%;
      font-weight: normal;
    }
    img {
      height: 32px;
    }
    &::before {
      content: "";
    }
  }
  .comparsion_table {
    background-color: #eff2f6;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
    padding: 22px 8px;
    border-radius: 8px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: 24px;
    .header {
      display: grid;
      grid-template-columns: 1px 1fr 1fr;
      justify-items: center;
      padding: 20px;
      @media (min-width: 768px) {
        grid-template-columns: 2fr 1fr 1fr;
        justify-items: start;
      }
    }
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      justify-items: center;
      padding: 20px 5px;
      .name {
        grid-column: 1/3;
        justify-items: start;
      }
      @media (min-width: 768px) {
        & {
          grid-template-columns: 2fr 1fr 1fr;
          padding: 20px;
          justify-items: left;
          .name {
            grid-column: 1/2;
          }
        }
      }
    }
  }
}

.alternative_intro::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #30ca89;
  z-index: -1;
  opacity: 0.16;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  top: 0;
  right: 35%;
  bottom: auto;
  left: auto;
}
@media (min-width: 992px) {
  .alternative_intro::before {
    width: 240px;
    height: 240px;
  }
}
.alternative_intro .description:after {
  content: "";
  background-color: $azure;
  position: absolute;
  z-index: -1;
  opacity: 0.16;
  transform: rotate(45deg);
  width: 164px;
  height: 164px;
  top: auto;
  right: auto;
  bottom: 15%;
  left: 10%;
}
.hyperlinks {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.val {
  display: flex;
  gap: 10px;
  align-items: center;
  &::before {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
.azure {
  color: $azure;
}
.rubin {
  color: $rubin;
}
.green {
  color: $green;
}
.matrix_cell:nth-child(3n + 1) {
  position: sticky;
  left: 0;
  background: #fff;
}
.radio::before {
  content: "✔️";
  font-size: 18px;
  font-weight: 400;
  width: 24px;
  height: 24px;
}
.arrow-down::before {
  content: "↓";
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-weight: 900;
}
.arrow-up::before {
  content: "↑";
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-weight: 900;
}
.icon-green::before {
  color: $green;
  border: $green;
}
.icon-azure::before {
  color: $azure;
  border-color: $azure;
}
.icon-azure-inverted::before {
  color: #fff;
  background: $azure;
  border-color: $azure;
}
.icon-green-inverted::before {
  color: #fff;
  background: $green;
  border-color: $green;
}
.rounded::before {
  border: 2px solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.crown {
  color: $gold;
  display: flex;
  gap: 5px;
}
.crown::before {
  content: "👑";
  color: $gold;
}
