.alternative_intro {
  border-bottom: 1px solid #ddd;
  position: relative;
  h1 {
    font-size: 40px;
    padding-top: 22px;
    padding-bottom: 32px;
    line-height: 1.1;
  }
  h6 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 32px;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8em;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .alternative_intro {
    * {
      max-width: 76%; 
    }
    h1 {
      font-size: 64px;
      letter-spacing: -3px;
    }
  }
  .alternative_intro .comparsion h2 {
    font-size: 42px;
  }
}
@media (min-width: 992px) {
  .alternative_intro p.description {
    padding-bottom: 104px;
  }
}
.comparsion {
  padding-top: 52px;
  padding-bottom: 104px;
  h2 {
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    line-height: 1em;
  }
  .description {
    font-size: 24px;
    padding-top: 32px;
    padding-bottom: 48px;
  }
  .head {
    font-weight: 800;
    span {
      display: block;
      font-size: 80%;
      font-weight: normal;
    }
    img {
      height: 32px;
    }
    &::before {
      content: "";
    }
  }
  .comparsion_table {
    background-color: #eff2f6;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
    padding: 22px 8px;
    border-radius: 8px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: 24px;
    .header {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      padding: 20px;
    }
    .row {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 5px;
      padding: 20px 5px;
      @media (min-width: 768px) {
        padding: 20px;
      }
    }
  }
}
.alternative_intro::before {
  content: "";
  display: block;
  position: absolute;
    width: 120px;
    height: 120px;
    top: 0;
    right: 10%;
    bottom: auto;
    left: auto;
  }
  .alternative_intro::before {
  content: "";
  background-color: #30ca89;
  z-index: -1;
  opacity: .16;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  top: 0;
  right: 35%;
  bottom: auto;
  left: auto;
}
.alternative_intro .description:after {
    content: "";
    background-color: #189dfb;
    position: absolute;
    z-index: -1;
    opacity: .16;
    transform: rotate(
45deg
);
    width: 164px;
    height: 164px;
    top: auto;
    right: auto;
    bottom: 15%;
    left: 10%;
}