.compare_grid {
  margin: 60px 0 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  a {
    display: block;
    width: 96%;
    @media (min-width: 600px) {
      width: 45%;
    }
    @media (min-width: 992px) {
      width: 30%;
    }
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
    border-radius: 8px;
    transition: transform 0.2s ease-out;
    cursor: pointer;
    img {
      width: 50%;
      margin: 20px auto;
    }
    b {
      display: block;
      text-align: center;
      padding: 20px 5px;
    }
  }
}
.breadcrumb-navigation {
  font-size: 22px;
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 20px;
  a {
    cursor: pointer;
    text-decoration: none;
    color: #9095aa;
    &.active {
      color: $blue;
    }
  }
}
.dropdown {
  position: relative;
  .dropdown-menu {
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    min-width: 10rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    .dropdown-item {
      color: $theme-color;
      padding: 8px 4px 8px 0;
      line-height: 1.2em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #eff2f6;
      font-weight: 600;
      .icon-alternative {
        transition: transform 0.2s ease-out;
        margin-right: 16px;
        width: 32px;
        height: 32px;
      }
    }
  }
}
// Compares title animation
@keyframes title {
  0% {opacity: 0;}
  20% {opacity: 0.8;}
  50% {opacity: 1;}
  80% {opacity: 0.8;}
  100% {opacity: 0;}
}
.compare .page_intro h1 span {
  animation-name: title;
  animation-duration: 05s;
  color: $blue;
}
@media (min-width: 768px) {
  .compare .alternative_intro {
    * { max-width: 100%; }
    p { max-width: 75%; }
  }
}
@media (min-width: 992px) {
  .compare .alternative_intro {
    * { max-width: 100%; }
    p { max-width: 97%; }
  }
}
