.contact_form {
  margin: 40px auto 100px;
  padding: 20px 10px;
  max-width: 1140px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
  border: #ddd 1px solid;
  background: #eee;
  @media (min-width: 425px) {
    & {
      width: 96%;
    }
  }
  @media (min-width: 992px) {
    & {
      padding: 30px 20px;
    }
  }
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.form_group {
  display: grid;
}
.form_control {
  font-size: 16px;
  padding: 5px 10px;
}
.form_group.submit_box {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}
.submit {
  height: 74px;
  max-width: 400px;
  min-width: 300px;
  margin: 0 auto;
  font-size: 20px;
}
.g-recaptcha {
  margin: 0 auto;
}
.mb-5 {
  margin-bottom: 5px;
}
.main {
  background: #ddd;
  width: 90%;
  max-width: 800px;
  margin: 10px auto;
  .card {
    color: $theme-color;
    header {
      font-size: 40px;
    }
    .body {
      font-size: 24px;
    }
  }
}