.home {
  background: $home-bg;
  * {
    color: #fff;
  }
}
section.home_intro {
  padding: 0 2%;
  h1 {
    font-size: 70px;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: -3px;
  }
  p {
    padding-top: 24px;
    font-size: 20px;
    line-height: 1.5em;
  }
}
