.features-intro {
  position: relative;
  margin-bottom: 10px;
  @media (min-width: 600px) {
    margin-bottom: 110px;
  }
}
.shape-before::before {
  display: block;
  content: "";
  background-color: #feca2f;
  position: absolute;
  z-index: -1;
  opacity: 0.16;
  transform: rotate(45deg);
  width: 64px;
  height: 64px;
  top: -3%;
  right: 5%;
  bottom: auto;
  left: auto;
}
.cards_grid {
  margin-bottom: 60px;
  position: relative;
  padding: 0.75rem;
  display: grid;
  gap: 20px;
  @media (min-width: 600px) {
    & {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 0;
      figure {
        opacity: 1;
        img {
          transform: translateY(25px);
          -webkit-transform: translateY(25px);
          -moz-transform: translateY(25px);
          -ms-transform: translateY(25px);
          -o-transform: translateY(25px);
        }
      }
    }
  }
  figure {
    display: block;
    opacity: 1;
    align-self: end;
    &::before {
      content: "";
      display: block;
      width: 48px;
      height: 48px;
      top: 10%;
      right: auto;
      bottom: auto;
      left: 14%;
      background-color: $azure;
      position: absolute;
      z-index: -1;
      opacity: 0.16;
      border-radius: 50%;
    }
  }
}
.shape-before::before {
  display: block;
  content: "";
  background-color: #feca2f;
  position: absolute;
  z-index: -1;
  opacity: 0.16;
  width: 64px;
  height: 64px;
  top: -3%;
  right: 5%;
  bottom: auto;
  left: auto;
  transform: rotate(45deg);
}
.intro {
  h1 {
    font-size: 60px;
  }
  p {
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .shape-before::before {
    width: 64px;
    height: 64px;
    top: -15%;
    right: 15%;
    bottom: auto;
    left: auto;
  }
}

@media (min-width: 992px) {
  .intro {
    width: 75%;
    h1 {
      padding: 0;
      margin: 0;
      font-size: 100px;
      letter-spacing: -5px;
    }
  }
}
@media (min-width: 1200px) {
  .intro {
    width: 66%;
    padding-top: 90px;
    h1 {
      font-size: 120px;
      font-weight: 800;
    }
    p {
      font-size: 28px;
    }
  }
  .shape-before::before {
    width: 128px;
    height: 128px;
    top: 10%;
    right: 10%;
    bottom: auto;
    left: auto;
  }
}
.matrix_card {
  padding: 32px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;

  &:nth-child(even) {
    background: #18214d;
    h2 {
      color: #fff;
    }
    p {
      color: #ddd;
    }
  }
  &:nth-child(odd) {
    background: #f0f1f5;
    h2 {
      color: #18214d;
    }
    p {
      color: #777;
    }
  }
  h2 {
    display: block;
    font-size: 36px;
    letter-spacing: -2px;
    line-height: 1.2em;
    font-weight: 700;
  }
  p {
    font-size: 12px;
  }
  .button {
    display: inline-block;
    padding: 13px 21px;
    background-color: $blue;
    border: 2px solid $blue;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: none !important;
    outline: none !important;
    transition: background-color 0.2s ease-out;
    text-align: center;
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .matrix_card {
    padding: 32px;
    margin-bottom: 60px;

    h2 {
      display: block;
      font-size: 64px;
      letter-spacing: -2px;
      line-height: 1.2em;
      font-weight: 700;
    }
    p {
      font-size: 16px;
      font-weight: 400;
    }
    .button {
      display: block;
      width: 100%;
      font-size: 20px;
      padding: 13px 8px;
      margin: 40px 0 0;
    }
  }
}
.matrix_title {
  grid-column: 1/4;
  background-color: #eff2f6;
  border-radius: 4px;
  padding: 14px 0.75rem 12px 0.75rem;
  padding-top: 18px;
  padding-bottom: 16px;
  h2 {
    font-size: 30px;
    padding: 12px;
  }
}
.matrix_grid {
  display: grid;
  grid-template-columns: repeat(3, 47.8vw);
  padding: 0.75rem 0;
  @media (min-width: 600px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .matrix_cell {
    padding: 10px;
    ul li {
      margin-left: 20px;
    }
    h3 {
      display: flex;
      * {
        padding: 0 7px;
      }
    }
  }
  .matrix_cta {
    color: #18214d;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.5px;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 0 10px;
  }
}
.cta {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  small {
    display: block;
    font-family: "Hachi Maru Pop", cursive;
    font-size: 28px;
    color: #fa3a69;
    line-height: 1em;
    transform: rotate(-3deg);
    padding-bottom: 16px;
  }
  h2 {
    font-size: 50px;
    letter-spacing: -3px;
    line-height: 1.2;
    padding-bottom: 64px;
    padding-top: 30px;
    @media (min-width: 1024px) {
      & {
        font-size: 80px;
      }
    }
    span {
      color: $blue;
    }
  }
}
.button {
  display: inline-block;
  padding: 13px 21px;
  background-color: $blue;
  border: 2px solid $blue;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none !important;
  outline: none !important;
  transition: background-color 0.2s ease-out;
  text-align: center;
  cursor: pointer;
}
.tables {
  position: relative;
  display: block;
  width: 100%;
  overflow-x: auto;
}
.matrix_title {
  position: sticky;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.buttons {
  display: flex;
  position: relative;
  width: 85px;
  justify-content: space-around;
  .btn {
    &:hover {
      cursor: pointer;
    }
    align-self: center;
    height: 40px;
    display: block;
    font-size: 24px;
    padding: 2px 12px;
    background: #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  @media (min-width: 600px) {
    & {
        display: none;
    }
  }
}
