---
layout: default
---
<article class="compare container">
  <section class="alternative_intro page_intro">
    <h1>{{page.title}}<br>
      {%- for s in site.compare -%}
      <span{% if forloop.index != 1 %} class="hidden"{% endif %}>{{s.name}}</span>
      {%- endfor -%}
    </h1>
    <p>{{page.description}}</p>

  </section>
  <div class="compare_grid">
    {%- for c in site.compare -%}
    <a href="{{c.url}}">
      <img src="{{c.image}}" alt="{{c.name}}">
      <b>{{c.name}}</b>
    </a>
    {%- endfor -%}
  </div>
</article>

<script>
  const slides = document.querySelectorAll(".page_intro h1 span");
  const count = slides.length;
  const delay = 5000;
  let i = 0;
  setInterval(function () { 
    slides.forEach((el) => {
      el.classList.add("hidden")
    })
    i == count-1 ? i = 0 : i++;
    slides[i].classList.remove("hidden")
  }, delay);
</script>