---
layout : default
---

{%- assign p = site.data.prices -%}
<article class="container prices">
  <section class="alternative_intro page_intro">
    <h1>{{page.title}}</h1>
    <p class="description">{{page.description}}</p>
  </section>
  <section class="free_content">
    <div class="free">
      <div class="left">
        <span>{{p.free.span}}</span>
        <h2>{{p.free.title}}</h2>
        <p>{{p.free.descr}}</p>
        <img src="{{p.free.image}}" alt="{{p.free.title}}">
      </div>
      <div class="right">
        <div class="pricing-price-prefix">
          <div class="valuta">$</div>
          <div class="amount">999</div>
          <div class="decimals">.00</div>
        </div>
        <ul class="pricing-features">
          <li><a href="{{p.free.features.link}}"></a><b>{{p.free.features.title}}</b></li>
          {%- for i in p.free.features.list -%}
          <li>{{i.item}}</li>
          {%- endfor -%}
        </ul>
        <a href="{{p.free.features.button.link}}" class="button bgblue">{{p.free.features.button.title}}</a>
        <small>{{p.free.features.after.title}}
          <a href="{{p.free.features.after.link}}">{{p.free.features.after.text}}</a>
        </small>
      </div>
    </div>
    <ul class="hyperlinks">
      {%- for l in p.hiperlinks -%}
      <li>
        <a href="{{l.link}}" class="hyperlink hyperlink-small anchor">{{l.title}}</a>
      </li>
      {%- endfor -%}
    </ul>
  </section>
</article>

<script>
  const buttons = document.querySelectorAll(".slide_btn");
  const slides = document.getElementById("slides");
  buttons.forEach((el) =>
    el.addEventListener("click", (event) => {
      var d = event.target.getAttribute("data-slide")
      slides.classList.remove("s1", "s2", "s3")
      slides.classList.add(d)
      buttons.forEach((el) => el.classList.remove("active"))
      event.target.classList.add("active")
    }, false)
  );
</script>
